body {
  margin: 0;
  padding: 0;
  background-color: #E2E5EE;
}

a{
  text-decoration: none;
}

a:focus, a:hover {
  text-decoration: none;
}


/*-------------Header class--------------*/

@font-face {
  font-family: BPreplay;
  src: url('./static/Bpreplay/BPreplay.otf');
}

@font-face {
  font-family: Fresh;
  src: url('./static/Mega\ Fresh\ -\ Demo.ttf');
}

@font-face {
  font-family: BPrepalyBold;
  src: url('./static/Bpreplay/BPreplayBold.otf');
}

.logo{
  font-family: Fresh;
}

#navStyle{
  font-family: BPreplay;
}

.setting{
  position: relative;
  color: #FFFFFF;
  top: 105px;
  width: 100%;
}

.back{
  font-family: BPreplay;
  font-size: 15px;
  position: absolute;
  left: 30px;
  font-weight: normal;
  color: #FFFFFF;
}

.setting a:nth-of-type(2){
  font-size: 15px;
  position: absolute;
  left: 154px;
  font-weight: bolder;
  font-family: BPrepalyBold;
}

.alarm{
  position: relative; 
  top: 105px;
  font-family: BPrepalyBold;
}

.sendAlarm{ 
  font-size: 15px;
  position: absolute;
  left: 226px;
  color: #626A7C;
}

.getAlarm{
  font-size: 15px;
  position: absolute;
  left: 50px;
  color: #626A7C;
}

/*-------------------------------------- Get Alarm ---------------------------------*/
/*panels*/
.panel-default{
  width: 349px;
  min-height: 85px;
  margin: auto;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #ffffff;


}
/*panels header*/
.panel-default>.panel-heading{
  background-image: linear-gradient(to bottom,#ffffff 0,#ffffff 100%);
  border: white;
  position: relative;
  border-radius: 10px;
}

/*switch*/
.switch{
  float: right;
  margin-top: 5px;
}

/*time*/
 .panel-title span:nth-last-child(4){
  color: #0065FF;
  font-family: BPrepalyBold;
  font-size: 35px;
  position: absolute;
  top: 5px;
  left: 80px;
  letter-spacing: .32px;
}

 .panel-title .iconDiv{
  position: relative;
  top: -43px;
  left: 65px;
  font-family: BPrepalyBold;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: .429px; 
  color: #9FA5B4;
  
}
/*repeat + global icon text*/
 .panel-title .iconDiv span:nth-of-type(2){
  margin-left: 8px;
}

/*repeat icon image*/
 .panel-title span:nth-of-type(1) img{
  width: 10px;
  height: 9px;
}
/*global icon image*/
 .panel-title span:nth-of-type(2) img{
  width: 10px;
  height: 9px;
  margin-right: 3px;
}

/*circle progress bat*/
.circularProgressbar{
  width: 54.41px;
  margin-top: 3px;
}
.CircularProgressbar .CircularProgressbar-text {
  dominant-baseline: middle;
  text-anchor: middle;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: .1408px;
  fill: #9fa5b4; 
}
.CircularProgressbar .CircularProgressbar-path {
  stroke: #626A7C;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #CBD1E2;
}

/*panel body*/
.panel-body{
  margin-top: 35px;
}

/*morning awakening text*/
.panel-body p:nth-child(1){
  color: #5E636F;
  font-family: BPrepalyBold;
  margin: 0 0 0 0;
  padding: 0;
  display: inline;
  font-size: 16px;
  font-weight: 700;
}

/*filter alarm text*/
.panel-body p:nth-child(2){
  color: #5E636F;
  font-family: BPreplay;
  margin-top: 3px;
  font-size: 15px;

}

/*filter alarm + morning awakening  icon*/
.panel-body p img:nth-of-type(1){
  width: 14px;
  height: 16px;
  margin-right: 5px;
}

/*country + gender + age text*/
.panel-body p:nth-child(3), .panel-body p:nth-child(5), .panel-body p:nth-child(8){
  font-size: 12px;
  font-family: BPreplay;
  color:#9FA5B4;
}

/*gender text*/
.panel-body p:nth-child(5) {
  margin-top: 30px; 
  display: inline-block;
}

/*male + female text*/
.panel-body .noActive{
  background-color: #e5e7ee;
  border-radius: 11px;
  width: 63px;
  height: 18px; 
  margin-left: 8px;
  display: flex;
  text-align: center;
  align-items: center;
  font-family: BPrepalyBold;
  display: inline-block;
  font-size: 14.5px;
  font-weight: 700;
  letter-spacing: .116px;
  color: #cbd1e2;
}

/*male + female active button*/
.panel-body .active{
  background-image: linear-gradient(180deg, #00ff6f 0, #24e07d 1);
  border-radius: 11px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .4);
  width: 63px;
  height: 18px;
  font-size: 14.5px;
  font-weight: 700;
  letter-spacing: .116px;
  color: #1b9e70; 
  font-family: BPrepalyBold;
  margin-left: 8px;
  display: flex;
  text-align: center;
  align-items: center;
  display: inline-block;
}

/*age text*/
.panel-body p:nth-child(8){
  margin-top: 10px;
}
.panel-body p:nth-child(8) span{
 float: right;
 font-size: 10px;
}

.range{
  position: absolute;
  top: -72px;
}

/*repeat text*/
.panel-body p:nth-child(9){
  margin-top: 40px; 
  display: inline-block;
  color: #5E636F; 
}
.noActiveDay{
  background-color: #e5e7ee;
  border-radius: 50%;
  width: 23px;
  height: 23px; 
  margin-left: 8px;
  display: flex;
  text-align: center;
  align-items: center;
  font-family: BPrepalyBold;
  display: inline-block;
  font-size: 14.5px;
  font-weight: 700;
  letter-spacing: .116px;
  color: #E5E7EE;
}

.activeDay{
  background-color: #00FF6F;
  border-radius: 50%;
  width: 23px;
  height: 23px; 
  margin-left: 8px;
  display: flex;
  text-align: center;
  align-items: center;
  font-family: BPrepalyBold;
  display: inline-block;
  font-size: 14.5px;
  font-weight: 700;
  letter-spacing: .116px;
  color: #1b9e70; 
}


hr{
  position: absolute;
  width: 90%;
  top: 63px;
  color: #E5E7EE;
}

/*-------------------------------------SendAlarm------------------------------*/

.profile-picture{
    width: 58px;
    border-radius: 5px;
}

.time-style{
    color: #D8D8D8 !important;
    /* font-family: BPrepalyBold; */
    font-size: 14px !important;
    position: relative !important;
    top: 16px !important;
    left: 92px !important;
}

.name-of{
    color: #626A7C !important;
    font-family: inherit !important;
    font-size: 25px !important;
}

.global-img{
    width: 10px !important;
}

.country-style{
    position: relative !important;
    left: 64px !important;
    bottom: 26px !important;
    color: #D8D8D8 !important;
    font-size: 14px !important;
}

.repeat-style{
  left: 224px !important;
}

.panel-title{
  height: 20px !important;
}

.wake-up{
    width: 10px;
    position: relative;
    left: 89px;
    top: 16px;
}

.gender-icon{
    width: 15px !important;
    height: 13px;
    position: relative;
    bottom: 3px;
}

.age-gender{
  color:#D8D8D8 !important;
}

.can-be{
    font-family: Assistant;
    color: dodgerblue;
    position: relative;
    bottom: 7px;
    left: 10px;
    font-size: 12px;
}

.opacity0{
  opacity: 0 !important;
}

.width-25-percent{
  display: inline-block;
  width: 25% !important;
  text-align: center;
}

.width-50-percent{
  display: inline-block;
  width: 50% !important;
}

.main-picture{
    width: 170px !important;
    position: relative !important;
    bottom: 7px !important;
    margin: auto !important;
    display: block !important;
    border-radius: 15px;
}

.pos-20px-bottom{
    position: relative;
    bottom: 40px;
    right: 10px;
}

.pos-40px-bottom{
    position: relative;
    bottom: 60px;
    left: 10px;
}

.margin-bottom-25px{
  margin-bottom: 25px;
}

.margin-bottom-5px{
  margin-bottom: 5px;
}

.top-17px{
  position: relative;
  top: 17px;
}

.top-17px{
  position: relative;
  top: 17px;
}

.D8D8D8-color{
  color: #D8D8D8 !important;
}

.color-626A7C{
  color: #626A7C;
}

.flag-icon{
  width: 40px;
  height: 40px;
  border-radius: 10px; 
}

.name-main{
  color: #0065FF;
  font-size: 35px !important;
}

.text-center{
  text-align: center;
}

.but-wake-up{
    background: #0065FF;
    color: white;
    padding: 7px 20px 7px 20px;
    border-radius: 300px !important;
    width: 180px;
    font-family: Assistant;
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}